name: Test a docker image
on: push
jobs:
  deploy-on-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Create a container on ubuntu
      run: docker run hello-world

  deploy-on-windows:
    runs-on: windows-latest
    steps:
      - name: Create a container on windows
        run: docker run hello-world






# name: Build and deploy
# on: push
# # Workflow level variables
# env:
#   CONTAINER_REGISTRY: docker.io
#   IMAGE_NAME: app

# jobs:
#   docker-job:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Building the imge
#         timeout-minutes: 1
#         run: echo docker build . -t $CONTAINER_REGISTRY/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME

#       - name: Login
#         run: echo docker login --username=${{ vars.DOCKER_USERNAME }} --password= ${{ secrets.DOCKER_PASSWORD }}

#       - name: Pushing the image
#         run: echo docker push $CONTAINER_REGISTRY/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME

#   deploy-job:
#     needs: docker-job
#     concurrency:
#       group: prod
#       cancel-in-progress: true
#     runs-on: ubuntu-latest
#     steps:
#       - name: Run the app
#         run: |
#               echo docker run $CONTAINER_REGISTRY/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME
#               sleep 3000


# name: First_workflow
# on: push
# jobs:
#     build-job:
#         runs-on: ubuntu-latest
#         steps:
#             - name: Build the app
#               run: |
#                     sleep 3
#                     echo "building the app ..." > app.txt
            
#             - name: Upload the app.txt file
#               uses: actions/upload-artifact@v4
#               with:
#                     # Name of the artifact to upload.
#                     name: app-text-file
#                     # A file, directory or wildcard pattern that describes what to upload
#                     path: app.txt

#     test-job:
#         needs: build-job
#         runs-on: ubuntu-latest
#         steps:
#             - name: Download the app.txt file
#               uses: actions/download-artifact@v5
#               with:
#                     name: app-text-file

#             - name: Test the app
#               run: |
#                     sleep 3
#                     cat app.txt
#                     echo "testing the app ..."

#     deploy-job:
#         needs: test-job
#         runs-on: ubuntu-latest
#         steps:
#             - name: Download the app.txt file
#               uses: actions/download-artifact@v5
#               with:
#                     name: app-text-file

#             - name: Deploy the app
#               run: |
#                     sleep 1
#                     cat app.txt
#                     echo "deploying the app ..."
