name: First_workflow
on: push
jobs:
    test-job:
        runs-on: ubuntu-latest
        steps:
            - name: chekout repository
              uses: actions/checkout@v5

            - name: Test job welome message
              run: echo "Executing the test"
                   cat README.md
